src/main/resources/Result.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="requestResult" type="xs:long"/>
    <xs:complexType name="responceResult">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="fileNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="fileName" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="error" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>